*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}
.container{
       max-width: 1320px;
       margin: auto;
       display: grid;
       grid-template-columns: 20% 1fr 1fr;
       grid-template-rows: 100px 200px 200px 100px;
       gap: 20px;

}
Header{
    background-color: green;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    line-height: 100px;
}
aside{
    background-color: yellowgreen;
    color: #fff;
    grid-row: 2/4;
    text-align: center;
    line-height: 400px;
}
.content1{
    background-color: blueviolet;
    color: #fff;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    line-height: 200px;

}
.content2{
    background-color: blue;
    color: #fff;
    text-align: center;
    line-height: 150px;
}
.content3{
    background-color: aqua;
    color: #fff;
    text-align: center;
    line-height: 150px;
}


footer{
    background-color: green;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    line-height: 100px;
}

 







/* footer{
     width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: #333;
    text-align: center;
    color: #fff;
    line-height: 100px;
     
}   */